@import "~antd/lib/style/themes/dark";

@background-accent: #434343;


.border-top-dark {
  border-top: solid thin @border-color-base;
}

.border-bottom-dark {
  border-bottom: solid thin @border-color-base;
}

.border-color-dark {
  border-color: @border-color-base;
}

.card-dark {
  background: @component-background !important;
  color: @text-color !important;
  border: solid thin @border-color-base !important;
}

.colors-dark {
  border-color: @border-color-base;
}

.content-dark {
  background: @body-background;
  color: @text-color;
}

.heading-dark {
  color: @text-color;
}

.header-dark {
  border-color: @border-color-base;
  background: @primary-2;
  color: @text-color;
}



.main-content-dark {
  border-color: @border-color-base;
  box-shadow: @shadow-2;
}

.menu-dark {
  background: @primary-1;
}

.menu-item-xxl-dark:hover,
.menu-item-xl-dark:hover,
.menu-item-lg-dark:hover,
.menu-item-xxl-active-dark,
.menu-item-xl-active-dark,
.menu-item-lg-active-dark {
  background: @primary-6;
  color: white
}

.menu-list-dark {
  border-color: @border-color-base;
  background: @primary-1;
}

.page-head-dark {
  background: @background-accent;
  color: @text-color;
}

.panel-dark {
  background: @component-background;
  color: @text-color !important;
}

.text-dark {
  color: @text-color;
}

.tooltip-left-dark .tooltip-left-text-dark {
  background-color: @tooltip-bg;
}

.tooltip-left-dark .tooltip-left-text-dark::after {

  border-color: transparent transparent transparent @tooltip-bg;
}