@import "~antd/lib/style/themes/default";

@background-color: #fff;
@background-accent: #eaeaea;

.header-light {
  background: white;
  color: @text-color;
}

.main-content-light {
  border-color: @border-color-base;
  box-shadow: @shadow-2;
}

.page-head-light {
  background: @background-accent;
}