


.theme-dark {
    /*bg-colors*/
    --color-bg-primary: black;
    --color-bg-header: theme('colors.gray.800');
    --color-bg-btn-primary: theme('colors.blue.600');
    --color-bg-menu-primary: theme('colors.blue.800');
    --color-bg-menu-secondary: theme('colors.blue.900');
    --color-bg-tooltip: theme('colors.gray.400');
    --color-bg-input: theme('colors.gray.600');

    /*text-colors*/
    --color-text-tooltip: black;
    --color-text-primary: theme('colors.gray.100');

    /*border-colors*/
    --color-border-primary: theme('colors.gray.600');

    /*menu-colors*/
    --color-menu-active-border: theme('colors.blue.500');

    color: var(--color-text-primary);
    background: black;
}